@page
@model EnterLocalAuthorityCode

@{
    Model.Title = "What is the local authority code?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-input for="LocalAuthorityCode" input-class="govuk-input--width-3">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">What is the local authority code?</govuk-input-label>
                <govuk-input-hint>Enter a 3 digit code, for example 202</govuk-input-hint>
                <govuk-input-error-message/>
            </govuk-input>

            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>
