@using GovUk.Frontend.AspNetCore.TagHelpers
@model Dfe.Sww.Ecf.Frontend.Views.Accounts.SelectUserTypeModel

@{
    ViewData["Title"] = "Choose Account Type";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form asp-controller="Accounts" asp-action="SelectUserType">
            <div class="govuk-form-group">

                <govuk-radios asp-for="AccountType">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            Who do you want to add?
                        </govuk-radios-fieldset-legend>

                        <govuk-radios-item value="@AccountType.EarlyCareerSocialWorker">An early career social worker taking part in the PQP programme</govuk-radios-item>
                        <govuk-radios-item value="@AccountType.AssessorCoordinator">A staff member supporting the PQP programme</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            </div>

            <button type="submit" class="govuk-button">Continue</button>
        </form>

    </div>
</div>
