@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
$govuk-font-family: 'Inter', sans-serif;

$govuk-assets-path: 'govuk-frontend/dist/govuk/assets/';
@import 'govuk-frontend/dist/govuk/base';
@import "govuk-frontend/dist/govuk/core/all";
@import "govuk-frontend/dist/govuk/utilities/all";

@import 'dfe-frontend-alpha/packages/dfefrontend';


html {
  font-family: $govuk-font-family;
}
