@page
@model DateOfBirth

@{
    Model.Title = "Welcome to the digital service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-date-input for="UserDateOfBirth">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        What is your date of birth?
                    </govuk-date-input-fieldset-legend>
                    <govuk-date-input-hint>
                        For example, 27 3 1986
                    </govuk-date-input-hint>
                </govuk-date-input-fieldset>
            </govuk-date-input>

            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>
