@page
@model RegistrationComplete

@{
    Model.Title = "Registration complete";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel heading-level="2">
            <govuk-panel-title>Registration complete</govuk-panel-title>
        </govuk-panel>

        <p class="govuk-body">You have successfully registered your account. You can now use the service.</p>

        <p class="govuk-body">
            <a href="@LinkGenerator.Welcome()" class="govuk-link govuk-link--no-visited-state">Go to your home page</a>
        </p>
    </div>
</div >
