@page
@model Dfe.Sww.Ecf.Frontend.Pages.Index

@{
    Model.Title = "Welcome";
}

<div class="text-center">
    <h1 class="govuk-heading-l">
        <span class="govuk-label--l">Welcome to the post qualifying pathway digital service</span>
    </h1>

    @if (HttpContext.User.Identity?.IsAuthenticated == true){
        <p>Through this service you can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>add and manage user accounts for your organisation</li>
            <li>view and manage learner records</li>
        </ul>
    }
    else
    {
        <p>Use the link below to log in to the post qualifying pathway digital service.</p>
        <p>This will direct you to GOV.UK One Login.</p>

        <p class="govuk-body">
            <a href="@LinkGenerator.SignIn()" class="govuk-link govuk-link--no-visited-state">Continue to GOV.UK One Login</a>
        </p>
    }
</div>
