@page
@model Dfe.Sww.Ecf.Frontend.Pages.LoggedOut
@{
    Model.Title = "Signed out";
}

<div class="text-center">
    <h1 class="govuk-heading-l">
        <span class="govuk-label--l">You have signed out</span>
    </h1>

    <div class="govuk-body">
        <p>
            You will need to <a href="@LinkGenerator.Home()" class="govuk-link govuk-link--no-visited-state">sign in again</a> if you want to access the service.
        </p>
    </div>
</div>
