@page "{id:Guid}"
@using Dfe.Sww.Ecf.Frontend.Models
@using GovUk.Frontend.AspNetCore.TagHelpers
@model Dfe.Sww.Ecf.Frontend.Pages.ManageAccounts.EditAccountDetails

@{
    Model.Title = "Edit account details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-route-OrganisationId="@Model.OrganisationId">
            <govuk-fieldset>
                <govuk-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">Enter their details</govuk-fieldset-legend>

                <govuk-input for="FirstName" autocomplete="given-name" spellcheck="false" type="text">
                    <govuk-input-label class="govuk-label"/>
                    <govuk-input-error-message/>
                </govuk-input>

                <govuk-input for="MiddlesNames" autocomplete="additional-name" spellcheck="false" type="text">
                    <govuk-input-label/>
                    <govuk-input-error-message/>
                </govuk-input>

                <govuk-input for="LastName" autocomplete="family-name" spellcheck="false" type="text">
                    <govuk-input-label class="govuk-label"/>
                    <govuk-input-error-message/>
                </govuk-input>

                <govuk-input for="Email" autocomplete="email" spellcheck="false" type="email">
                    <govuk-input-label class="govuk-label"/>
                    <govuk-input-error-message/>
                </govuk-input>

                @if (Model.AccountTypes.Contains(AccountType.Assessor) || Model.AccountTypes.Contains(AccountType.EarlyCareerSocialWorker))
                {
                    <govuk-input for="SocialWorkEnglandNumber" spellcheck="false" input-class="govuk-input--width-10">
                        <govuk-input-label class="govuk-label">Social Work England registration number</govuk-input-label>
                        <govuk-input-hint>For example, SW1234</govuk-input-hint>
                        <govuk-input-error-message/>
                    </govuk-input>
                }

            </govuk-fieldset>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
