@page
@model Dfe.Sww.Ecf.Frontend.Pages.ManageAccounts.EligibilityInformation

@{
    Model.Title = "Before you begin";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Before you begin</h1>
        <div class="govuk-body">
            <p>Employers receive grant funding for eligible social workers who take part in the programme.</p>

            <p>We will ask some questions to make sure the social worker meets the eligibility criteria.</p>

            <p>You will need to confirm that the social worker:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>is registered with Social Work England</li>
                <li>currently works in statutory child and family social work in England</li>
                <li>has completed their social work qualification within the last 3 years</li>
            </ul>

            <p>Make sure you have checked this information before you get started.</p>
            @* TODO: Link to ElibibilitySwe page after SWIP-577 *@
            <govuk-button-link href="">Continue</govuk-button-link>
        </div>
    </div>
</div>
