@page
@model Dfe.Sww.Ecf.Frontend.Pages.ManageAccounts.EligibilitySocialWorkEnglandDropout

@{
    Model.Title = "You cannot register this user";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You cannot register this user</h1>
        <div class="govuk-body">
            <p>Users must be registered with Social Work England to take part in the programme and access this
                service.</p>

            <p><a href="@LinkGenerator.ManageAccounts()">Return to manage users</a></p>
        </div>
    </div>
</div>
