@page
@model Dfe.Sww.Ecf.Frontend.Pages.ManageAccounts.EligibilityQualification

@{
    Model.Title = "Did they complete their social work qualification within the last 3 years?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-radios asp-for="IsQualifiedWithin3Years">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        Did they complete their social work qualification within the last 3 years?
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-item value="@true">Yes</govuk-radios-item>
                    <govuk-radios-item value="@false">No</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
