@page
@model Dfe.Sww.Ecf.Frontend.Pages.ManageAccounts.EligibilityStatutoryWork

@{
    Model.Title = "Do they currently work in statutory child and family social work in England?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-route-OrganisationId="@Model.OrganisationId">
            <govuk-radios for="IsStatutoryWorker">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        Do they currently work in statutory child and family social work in England?
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-item value="@true">Yes</govuk-radios-item>
                    <govuk-radios-item value="@false">No</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
