@page "{id:Guid?}"
@using Dfe.Sww.Ecf.Frontend.Models
@using GovUk.Frontend.AspNetCore.TagHelpers
@model SelectUseCase
@{
    Model.Title = "Choose account type";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" asp-page-handler="@(Model.EditAccountId is not null ? "Edit" : "")">
            <div class="govuk-form-group">

                <govuk-checkboxes asp-for="SelectedAccountTypes">
                    <govuk-checkboxes-fieldset>
                        <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                            What do they need to do?
                        </govuk-checkboxes-fieldset-legend>

                        <govuk-checkboxes-item value="@AccountType.Assessor">Assess work and provide feedback to early career social workers</govuk-checkboxes-item>
                        <govuk-checkboxes-item value="@AccountType.Coordinator">Add, remove and manage accounts for your organisation</govuk-checkboxes-item>
                    </govuk-checkboxes-fieldset>
                </govuk-checkboxes>
            </div>

            <button type="submit" class="govuk-button">Continue</button>
        </form>

    </div>
</div>
