@page "{id:Guid}"
@model Dfe.Sww.Ecf.Frontend.Pages.ManageAccounts.UnlinkAccount

@{
    Model.Title = "Unlink account";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" data-test-id="unlink-form">
            <h1 class="govuk-heading-l" data-test-id="unlink-caption">Are you sure you want to unlink?</h1>
            <p>Select Confirm to unlink this user from your organisation.</p>
            <p>A confirmation email will be sent to @Model.Email.</p>
            <p>You can link them again from the Manage Accounts page</p>
            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <govuk-button type="Submit">Confirm</govuk-button>
                    <a title="Cancel" class="govuk-link govuk-link--no-visited-state" asp-page="ViewAccountDetails" asp-route-id="@Model.Id">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
