@page "{id:Guid}"
@model Dfe.Sww.Ecf.Frontend.Pages.ManageAccounts.UnpauseAccount

@{
    Model.Title = "Unpause account";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" data-test-id="link-form">
            <h1 class="govuk-heading-l" data-test-id="link-caption">Want to unpause this account?</h1>
            <p>Select Confirm to unpause @Model.AccountDetails?.FullName account.</p>
            <p>A confirmation email will be sent to @Model.AccountDetails?.Email</p>
            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <govuk-button type="Submit">Confirm</govuk-button>
                    <a title="Cancel" class="govuk-link govuk-link--no-visited-state" asp-page="ViewAccountDetails" asp-route-id="@Model.Id">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
