@page
@model Dfe.Sww.Ecf.Frontend.Pages.ManageUsers.EligibilityFundingAvailable

@{
    Model.Title = "The social worker is eligible for grant funding";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">The social worker is eligible for grant funding</h1>
        <div class="govuk-body">
            <p>The social worker meets the eligibility criteria. Your organisation will receive grant funding to support their participation in the programme.</p>

            <p>You can now add their personal details.</p>

            <p>Once you have entered their details, we will send the social worker an email inviting them to log into the digital service and complete their registration.</p>

            <govuk-button-link href="@LinkGenerator.AddAccountDetails()">Continue</govuk-button-link>
        </div>
    </div>
</div>
