@page
@model Backdoor

@{
    Model.Title = "Development Backdoor";
}


<div class="text-center">
    <h1 class="govuk-heading-l">
        <span class="govuk-label--l">Development Backdoor</span>
    </h1>

    <govuk-notification-banner>
        <p class="govuk-notification-banner__heading">
            This is a debug page for development purposes only.
        </p>
    </govuk-notification-banner>

    <form method="post">
        <govuk-radios for="SelectedAccountId">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                    Who do you want to log in as?
                </govuk-radios-fieldset-legend>
                <govuk-radios-hint>Select one option.</govuk-radios-hint>

                @foreach (var account in Model.Accounts)
                {
                    <govuk-radios-item value="@account.Id">@account.FullName | <account-types types="account.Types"/></govuk-radios-item>
                }


            </govuk-radios-fieldset>
        </govuk-radios>
        <govuk-button type="submit" is-start-button="true">Log in</govuk-button>
    </form>
</div>
